/*body{
    background-color: #48a5fe;
}
#mainWideContentContextHeader {
    position: absolute;
    padding-top: 20px;
    margin-left: 45px;
    width: 645px;
}
   {
    color: #494848;
    font-family: AGBook, Arial, Verdana, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.user agent stylesheet
div {
    display: block;
}
*/